.light-grey-bg {
  background-color: $lightGrey;
}

.grey-bg {
  background-color: $grey;
}

.white-bg {
  background-color: white;
}

.green-bg {
  background-color: $mainGreen;
}

.red-bg {
  background-color: $red;
}

.dark-green-bg {
  background-color: $darkGreen;
}
