.hide {
  display: none;
}

#top-bar {
  position: relative;
  background-color: $mainGreen;
  color: white;
  text-align: center;
  padding: 0.2em;
  border-bottom: 0.1em solid $darkGreen;

  h2 {
    display: inline-block;
    margin: 0.6em 0;
  }
}

#bottom-bar {
  width: 100%;
  background-color: $mainGreen;
  color: white;
  text-align: center;
  padding: 1em;
}

#page-content {
  height: 100%;
  padding: 0.1em;

  &.show-top {
    height: 90%;
  }

  &.show-bottom {
    height: 78%;
  }
}

#nav-symbols {
  display: inline-block;

  img {
    display: inline-block;
    height: 3em;
    width: auto;
    margin: 0 1em;
  }
}

.btnBack {
  position: absolute;
  left: 1.8em;
  top: 50%;
  width: 2em;
  height: 2em;
  background-image: url(../img/ui/arrow-white.png);
  background-size: contain;
  transform: translate(-50%, -50%) rotate(-180deg);
  vertical-align: middle;
}

.large-btn {
  width: 10em;
  font-size: 1.2em;
  padding: 0.6em 0em;
  border-radius: 2em;
}
