.hide {
  display: none !important;
}

#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-bar-height;
  background-color: $mainGreen;
  color: white;
  text-align: center;
  padding: 0.2em;
  border-bottom: 0.1em solid $darkGreen;
  z-index: 5;

  h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: inline-block;
    margin: 0;
  }
}

#image-top-bar {
  position: relative;
  height: 23em;

  .gradient-overlay {
    position: absolute;
    bottom: 0;
    height: 66%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), #000);
  }

  .btnBack {
    top: 2em;
  }

  h1 {
    position: absolute;
    bottom: 0.2em;
    left: 0.3em;
    margin: 0;
    font-weight: 100;
  }

  #header-image {
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

#bottom-bar {
  position: absolute;
  bottom: 0;
  height: $bottom-bar-height;
  width: 100%;
  background-color: $mainGreen;
  color: white;
  text-align: center;
  z-index: 5;

  nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;

    img {
      cursor: pointer;
    }
  }
}

#page-content {
  height: 100%;
  overflow-y: overlay;

  &.show-top {
    padding-top: $top-bar-height;
  }

  &.show-bottom {
    padding-bottom: $bottom-bar-height;
  }

  &.show-both {
    padding-top: $top-bar-height;
    padding-bottom: $bottom-bar-height;
  }
}

#nav-symbols {
  display: inline-block;

  img {
    display: inline-block;
    height: 3em;
    width: auto;
  }
}

.btnForward,
.btnBack {
  position: absolute;
  left: 1.8em;
  top: 50%;
  width: 2em;
  height: 2em;
  background-image: url(../img/ui/arrow-white.png);
  background-size: contain;
  transform: translate(-50%, -50%) rotate(-180deg);
  vertical-align: middle;
  z-index: 1;
  cursor: pointer;
}

.btnForward {
  transform: translate(-50%, -50%);
  left: auto;
  right: 0em;
}

.main-btn,
.large-btn {
  font-size: 1.2em;
  padding: 0.6em 0.8em;
  border-radius: 2em;
}

.large-btn {
  width: 10em;
}

.tag {
  display: inline-block;
  margin: 0.2em 0.2em;
  padding: 0.5em 0.8em;
  font-size: 0.8em;
  color: white;
  border-radius: 1em;
  background-color: $mainGreen;
  vertical-align: middle;
  cursor: pointer;
}

.large-plus-btn,
.plus-btn,
.small-plus-btn {
  box-sizing: border-box;
  height: 1em;
  width: 1em;
  line-height: 1em;
  background-color: $mainGreen;
  color: white;
  font-size: 3em;
  border-radius: 50%;
  vertical-align: middle;
}

.plus-btn {
  font-size: 3em;
}

.large-plus-btn {
  font-size: 6em;
}

.slider-checkbox {
  position: relative;
  height: 2em;
  width: 5em;
  border-radius: 5em;
  cursor: pointer;
}

.slider-bg-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5em;
  overflow: hidden;
}

.slider-bg-color {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 5em;
  transition: transform 0.33s;
}

.slider-handle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 80%;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  transition: transform 0.33s;
}

.slider-checkbox.off {
  .slider-bg-color {
    transform: translate(-120%, -50%);
  }
  .slider-handle{
    transform: translate(-180%, -50%);
  }
}
.slider-checkbox.on {
  .slider-bg-color {
    transform: translate(-50%, -50%);
  }
  .slider-handle{
    transform: translate(-50%, -50%);
  }
}

#options {
  position: absolute;
  top: 0.4em;
  right: 0;
}

#menu-image {
  width: 3em;
  float: right
}

#options-modal {
  clear: both;
  padding: 0;

  li {
    padding: 0.5em 0.2em;
    border-bottom: 0.1em solid $lightGrey;

    &:hover {
      background-color: $darkGreen;
      color: white;
      border-bottom: 0.1em solid $darkGreen;
    }
  }
}

#modal-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.open-modal-btn {
  cursor: pointer;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0;
  border-radius: 1em;
  text-align: center;
  overflow: hidden;
  z-index: 6;

  .text-container {
    padding: 1em 2em;
    margin-bottom: 1em;
  }

  .button-container {
    height: 3em;
    width: 100%;
  }
  button {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0 -0.15em;
    font-weight: 800;
    box-sizing: border-box;
  }
}