.green-text {
  color: $mainGreen;
}

.darkGreen-text {
  color: $darkGreen;
}

.darkestGreen-text {
  color: $darkestGreen;
}

.red-text {
  color: $red;
}

.white-text {
    color: #FFF;
}

.black-text {
    color: #000;
}
