
.green-txt {
    color: $green;
}
.white-txt {
    color: #FFF;
}
.dark-txt {
    color: $dark;
}
.lightgrey-txt {
    color: $lightgrey;
}
.blue-txt {
    color: $blue;
}
.bold-txt {
    font-weight: bold;
}
.light-txt {
    font-weight: 300;
}
.small-font {
    font-size: 1.8em;
}
.medium-font {
    font-size: 2.4em;
}
