$green: #50b948;
$dark: #4c4d4f;
$lightgrey: #c9c9c9;
$darkgrey: #333333;
$darkestgrey: #252525;
$pink: #ff01be;
$blue: #008bab;
$lightblue: #00aecb;
$headerHeight: 80px;
$footerHeight: 120px;

$viewportRatio: 52/100;
$headerHeight: 10%;
$footerHeight: 10%;
$mainHeight: 100% - $headerHeight - $footerHeight;