$mainGreen: #3ecd8e;
$darkGreen: #008148;
$headerHeight: 80px;
$footerHeight: 120px;

$viewportRatio: 52/100;
$headerHeight: 10%;
$footerHeight: 10%;
$mainHeight: 100% - $headerHeight - $footerHeight;
