.chat-page {
  position: relative;
  z-index: 1;
  background: url(../img/bg/default-chat.jpg);
  background-size: cover;

  .list-item {
    background-color: rgba(0, 161, 75, 0.33);

    img {
      border-radius: 50%;
    }
  }

  .list-item-content,
  .list-item-date {
    color: white;
  }

  .list-item-date {
  }
}

#chat-input-container {
  text-align: left;
  padding: 0.5em;
}

#chat-message-input {
  display: inline-block;
  width: 85%;
  padding: 0.5em;
  margin: 0;
  background-color: white;
  border-radius: 1em;
  vertical-align: middle;
}

#send-message {
  display: inline-block;
  width: 13%;
  font-size: 2em;
  vertical-align: middle;
}