.chat-page {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background: url(../img/bg/default-chat.jpg);
    background-size: cover;
  }
}

#chat-input-container {
  text-align: left;
  padding: 0.5em;
}

#chat-message-input {
  display: inline-block;
  width: 85%;
  padding: 0.5em;
  margin: 0;
  background-color: white;
  border-radius: 1em;
  vertical-align: middle;
}

#send-message {
  display: inline-block;
  width: 13%;
  font-size: 2em;
  vertical-align: middle;
}