.search-page {
 text-align: center;

 input {
   display: inline-block;
   margin-top: 3em;
 }

 #search-field-container {
   position: relative;
   display: inline-block;
 }

 #cancel-search {
   position: absolute;
   top: 1.8em;
   right: -2em;
   display: inline-block;
   width: 1.5em;
   height: 1.5em;
   font-size: 2em;
   color: $red;
   line-height: 1.15em;
   border: 5px solid $red;
   border-radius: 50%;
 }

 .filter-btn-container {
   margin-bottom: 2em;

   #calendar-btn,
   #interests-btn {
     position: relative;
     height: 3em;
     width: 3em;
     margin: 0 15%;
     outline: 0.1em solid $lightGreen;
   }

   #clear-interest-filters,
   #clear-date-filters{
     position: absolute;
     height: 1.2em;
     width: 1.2em;
     font-size: 1.5em;
     top: -0.8em;
     right: -0.8em;
     border-radius: 50%;
   }

   img {
     height: 100%;
     width: 100%;
     object-fit: contain;
   }
}

 .list-item {
   position: relative;
   text-align: left;
   z-index: 3;

   .main-btn {
     position: absolute;
     transform: translate(0, -50%);
     right: 1em;
     top: 50%;
     z-index: 4;
   }
 }
}
