.event-info {
  position: relative;

  .positioning {
    min-height: 100%;
  }
  article {
    padding: 0.3em 0.8em;
  }

  h4 {
    margin: 0.3em 0;
  }

  p {
    margin: 0.1em 0;
    word-wrap: wrap;
  }

  #tag-container{
    .small-plus-btn {
      float: right;
    }
    .tag {
      float: left;
    }
  }
}

#privacy-btn-container {
  position: relative;
}

#leave-btn,
#attend-btn {
  position: absolute;
  right: 1em;
  top: 20em;
}

#join-squad {
  height: 3em;
  width: 100%;
  margin-top: 1em;
  font-size: 2em;
}
