.profile-page {
  background-color: $lightGrey;
  text-align: center;
  color: $darkestGreen;

  #image-top-bar {
    position: relative;
    height: 15em;
  }

  #username {
    margin: 1em 0 0 0;
  }

  #general-information {
    padding: 1em 0;
  }

  #location p,
  #age-and-gender p {
    display: inline-block;
    margin: 0;
  }

  #age-and-gender,
  #location {
    margin: 0;
  }

  #profile-navbar {
    background-color: $lightGreen;

    h4 {
      display: inline-block;
      font-weight: normal;

      &.selected {
        color: white;
      }
    }

    .pipe {
      margin: 0 1em;
    }
  }

  #about-container {
    text-align: left;
    padding: 1em 2em;
  }

  .interest {
    padding: 1em 2em;
    margin-bottom: 0.1em;
    background-color: $mainGreen;
    color: white;

    &:nth-child(2n+2) {
      background-color: $darkGreen;
    }
  }

  #loves-container,
  #hates-container {
    padding: 2em 0;
  }
}

#profile-picture-container {
  position: absolute;
  top: 4em;
  left: 2em;
  height: 10em;
  width: 8em;
  border: 0.1em solid white;
  border-radius: 1em;
  background-image: url(../img/users/testeri.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}